{% extends "base.html" %}
{% block content %}
<div class="p-4">
  <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="/lop-hoc">Quản lý lớp học</a></li>
      <li class="breadcrumb-item" aria-current="page">Lớp {{lop_hoc.name}} - Năm học <span class="badge text-bg-primary">{{lop_hoc.nam_hoc}}</span></li>
    </ol>
  </nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <span class="nav-link active" aria-current="page">Quản lý học sinh</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lop-hoc/{{lop_hoc.id}}/bang-diem">Bảng điểm</a>
    </li>
  </ul>
  <div class="p-3">
    
    <div class="d-flex justify-content-between py-3">
      <h5>
         Sỉ số lớp: <span class="badge rounded-pill text-bg-success">{{lop_hoc.si_so}} / {{lop_hoc.sl_toi_da}}</span>
      </h5>
      <div>
        {% if lop_hoc.si_so < lop_hoc.sl_toi_da %}
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add" >Thêm học sinh</button>
        {% else %}
          <span class="badge text-bg-warning">Lớp đã đầy</span>
        {% endif %}
      </div>
    </div>

    <!-- Modal Update -->
    <div class="modal fade" id="add" tabindex="-1" aria-labelledby="add" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="post">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="add">Thêm học sinh</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label">Họ tên</label>
                <input name="name" type="text" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="lop_hoc_id" class="form-label">Lớp</label>
                <select name="lop_hoc_id" class="form-select" readonly required>
                  {% for option in ds_lop_hoc %}
                    <option value="{{option.id}}" {% if lop_hoc.id == option.id %}selected{% endif %}>{{option.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="gioi_tinh" class="form-label">Giới tính</label>
                <select name="gioi_tinh" class="form-select" required>
                  <option value="nam">Nam</option>
                  <option value="nu">Nữ</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="ngay_sinh" class="form-label">Ngày sinh</label>
                <input name="ngay_sinh" type="date" class="form-control datepicker" max="{{current_year-lop_hoc.tuoi_toi_thieu}}-01-01" min="{{current_year-lop_hoc.tuoi_toi_da}}-12-31" required>
              </div>
              <div class="mb-3">
                <label for="dia_chi" class="form-label">Địa chỉ</label>
                <textarea name="dia_chi" type="text" class="form-control" rows="3" required></textarea>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" required>
              </div>
              <div class="mb-3">
                <label for="sdt" class="form-label">Số điện thoại</label>
                <input name="sdt" type="text" class="form-control" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button class="btn btn-primary" type="submit">Thêm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- {{lop_hoc_id}} {{lop_hoc.name}} -->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th style="width:50px;" scope="col" class="text-center">STT</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Năm sinh</th>
            <th scope="col">Địa chỉ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in ds_hoc_sinh %}
            <tr>
              <td class="text-center">{{loop.index}}</td>
              <td>{{item.name}}</td>
              <td>{% if item.gioi_tinh == 'nam' %}Nam{% else %}Nữ{% endif %}</td>
              <td><span class="datetime">{{item.ngay_sinh}}</span></td>
              <td>{{item.dia_chi}}</td>
              <td style="width:110px;">
  <!--          <a href="/lop-hoc/{{item.id}}" class="btn btn-primary btn-sm" role="button">Chi tiết</a> -->
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#update-{{item.id}}" >Sửa</button>
                <form method="POST" class="d-inline">
                  <input name="delete" type="hidden" value="{{item.id}}">
                  <button class="btn btn-primary btn-sm btn-danger" type="submit" >Xoá</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% for item in ds_hoc_sinh %}
    <!-- Modal Update -->
    <div class="modal fade" id="update-{{item.id}}" tabindex="-1" aria-labelledby="update-{{item.id}}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="post">
            <input name="id" type="hidden" class="form-control" value="{{item.id}}">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="update-{{item.id}}">Cập nhật học sinh</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="name" class="form-label">Họ tên</label>
                <input name="name" type="text" class="form-control" value="{{item.name}}" required>
              </div>
              <div class="mb-3">
                <label for="lop_hoc_id" class="form-label">Lớp</label>
                <select name="lop_hoc_id" class="form-select" readonly required>
                  {% for option in ds_lop_hoc %}
                    <option value="{{option.id}}" {% if item.lop_hoc_id == option.id %}selected{% endif %}>{{option.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="gioi_tinh" class="form-label">Giới tính</label>
                <select name="gioi_tinh" class="form-select" required>
                  <option value="nam" {% if item.gioi_tinh == 'nam' %}selected{% endif %}>Nam</option>
                  <option value="nu" {% if item.gioi_tinh == 'nu' %}selected{% endif %}>Nữ</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="ngay_sinh" class="form-label">Ngày sinh</label>
                <input name="ngay_sinh" type="date" class="form-control datepicker" value="{{item.ngay_sinh}}" min="{{current_year-lop_hoc.tuoi_toi_thieu}}-01-01" max="{{current_year-lop_hoc.tuoi_toi_da}}-12-31" required>
              </div>
              <div class="mb-3">
                <label for="dia_chi" class="form-label">Địa chỉ</label>
                <textarea name="dia_chi" type="text" class="form-control" rows="3" required>{{item.dia_chi}}</textarea>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" value="{{item.email}}" required>
              </div>
              <div class="mb-3">
                <label for="sdt" class="form-label">Số điện thoại</label>
                <input name="sdt" type="text" class="form-control" value="{{item.sdt}}" required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button class="btn btn-primary" type="submit">Cập nhật</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
  
  </div>
