{% extends "base.html" %}
{% block content %}
<div class="p-4">
  <!-- Modal Update -->
  <div class="modal fade" id="add" tabindex="-1" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="add">Thêm môn học</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="username" class="form-label">Môn học</label>
              <input name="name" type="text" class="form-control" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button class="btn btn-primary" type="submit">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% if messages == "Created" %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  Thêm môn học thành công
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif messages == "Updated" %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Cập nhật môn học thành công
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% elif messages == "Deleted" %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Xoá môn học thành công
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <div class="table-responsive">
      <div class="d-flex justify-content-between py-3">
        <div>
<form class="input-group mb-3">
  <input name="search" type="text" value="{{kw}}" class="form-control" placeholder="Tìm môn học" aria-label="Tìm môn học" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Tìm</button>
</form>
        </div>
        <div>
          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add" >Thêm môn học</button>
        </div>
      </div>
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th style="width:50px;" scope="col" class="text-center">STT</th>
          <th scope="col">Môn học</th>
          <th style="width:120px;"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in mon_hoc %}
          <tr>
            <td class="text-center">{{loop.index}}</td>
            <td>{{item.name}}</td>
            <td>
              <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#update-{{item.id}}" >Sửa</button>
              <form method="POST" class="d-inline">
                <input name="delete" type="hidden" value="{{item.id}}">
                <button class="btn btn-primary btn-sm btn-danger" type="submit" >Xoá</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  {% for item in mon_hoc %}
  <!-- Modal Update -->
  <div class="modal fade" id="update-{{item.id}}" tabindex="-1" aria-labelledby="update-{{item.id}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post">
          <input name="id" type="hidden" class="form-control" value="{{item.id}}">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="update-{{item.id}}">Cập nhật môn học</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="username" class="form-label">Môn học</label>
              <input name="name" type="text" class="form-control" value="{{item.name}}" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button class="btn btn-primary" type="submit">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
