{% extends "base.html" %}
{% block content %}
<div class="p-4">
  <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
      <li class="breadcrumb-item"><a href="/lop-hoc">Quản lý lớp học</a></li>
      <li class="breadcrumb-item" aria-current="page">Lớp {{lop_hoc.name}} - Năm học <span class="badge text-bg-primary">{{lop_hoc.nam_hoc}}</span></li>
    </ol>
  </nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/lop-hoc/{{lop_hoc.id}}">Quản lý học sinh</a>
    </li>
    <li class="nav-item">
      <span class="nav-link active" aria-current="page">Bảng điểm trung bình</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/lop-hoc/{{lop_hoc.id}}/bang-diem">Nhập điểm môn học</a>
    </li>
  </ul>
  <div class="table-responsive">
    <form method="POST">
      <div class="d-flex justify-content-between py-3">
        <div>
          <strong>Môn hoc: </strong> <select class="form-select form-select-sm d-inline" style="width: 200px;" id="mon_hoc" onchange="handleChange('mon_hoc')">
            {% for option in common_ds_mon_hoc %}    
            <option value="{{option.id}}" {% if mon_hoc == option.id %}selected{% endif %}>{{option.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          
        </div>
      </div>
      <table class="table table-hover table-bordered table-sm">
        <thead class="table-light align-middle text-center">
          <tr>
            <th scope="col" >STT</th>
            <th scope="col" style="min-width: 200px;">Họ tên</th>
            <th scope="col" class="text-center" >Điểm TB HK 1</th>
            <th scope="col" class="text-center" >Điểm TB HK 2</th>
          </tr>
        </thead>
        <tbody>
          {% for item in ds_bang_diem %}
            <tr>
              <td class="text-center">{{loop.index}}</td>
              <td>{{item.name}}</td>
              <td class="text-center"><span class="badge rounded-pill text-bg-primary">{{item.tb_hk1}}</span></td>
              <td class="text-center"><span class="badge rounded-pill text-bg-primary">{{item.tb_hk2}}</span></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="d-flex justify-content-between py-3">
        <div>
          <strong>Môn hoc: </strong> <select class="form-select form-select-sm d-inline" style="width: 200px;" id="mon_hoc" onchange="handleChange('mon_hoc')">
            {% for option in common_ds_mon_hoc %}    
            <option value="{{option.id}}" {% if mon_hoc == option.id %}selected{% endif %}>{{option.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  const handleChange = (field) => {
    let url = new URL(window.location.href);
    url.searchParams.set(field, document.getElementById(field).value);
    window.location = url.href;
  }
</script>
{% endblock %}
